<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%pluginName"
            visible="true"
            id="ext.editor.actionSet">
         <menu
               label="%Menu.extension"
               path="edit/additions"
               id="extension">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               definitionId="ext.editor.wordComplete"
               label="%Command.wordComplete.name"
               class="ext.editor.actions.WordCompleteAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.wordComplete">
         </action>
         <action
               definitionId="ext.editor.findCurrent"
               label="%Command.findCurrent.name"
               class="ext.editor.actions.FindCurrentAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.findCurrent">
         </action>
         <action
               definitionId="ext.editor.encodeTab"
               label="%Command.encodeTab.name"
               class="ext.editor.actions.EncodeTabAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.encodeTab">
         </action>
         <action
               definitionId="ext.editor.decodeTab"
               label="%Command.decodeTab.name"
               class="ext.editor.actions.DecodeTabAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.decodeTab">
         </action>
         <action
               definitionId="ext.editor.switchTab"
               label="%Command.switchTab.name"
               class="ext.editor.actions.SwitchTabAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.switchTab">
         </action>
         <action
               definitionId="ext.editor.deleteLine"
               label="%Command.deleteLine.name"
               class="ext.editor.actions.DeleteLineAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.deleteLine">
         </action>
         <action
               definitionId="ext.editor.deleteEndOfLine"
               label="%Command.deleteEndOfLine.name"
               class="ext.editor.actions.DeleteEndOfLineAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.deleteEndOfLine">
         </action>
         <action
               definitionId="ext.editor.yankLine"
               label="%Command.yankLine.name"
               class="ext.editor.actions.YankLineAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.yankLine">
         </action>
         <action
               definitionId="ext.editor.nextWord"
               label="%Command.nextWord.name"
               class="ext.editor.actions.NextWordAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.nextWord">
         </action>
         <action
               definitionId="ext.editor.previousWord"
               label="%Command.previousWord.name"
               class="ext.editor.actions.PreviousWordAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.previousWord">
         </action>
         <action
               definitionId="ext.editor.deleteWord"
               label="%Command.deleteWord.name"
               class="ext.editor.actions.DeleteWordAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.deleteWord">
         </action>
         <action
               definitionId="ext.editor.copy"
               label="%Command.copy.name"
               class="ext.editor.actions.CopyAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.copy">
         </action>
         <action
               definitionId="ext.editor.pasteLine"
               label="%Command.pasteLine.name"
               class="ext.editor.actions.PasteLineAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.pasteLine">
         </action>
         <action
               definitionId="ext.editor.unselectedUndo"
               label="%Command.unselectedUndo.name"
               class="ext.editor.actions.UnselectedUndoAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.unselectedUndo">
         </action>
         <action
               definitionId="ext.editor.lineEnd"
               label="%Command.lineEnd.name"
               class="ext.editor.actions.LineEndAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.lineEnd">
         </action>
         <action
               definitionId="ext.editor.lineStart"
               label="%Command.lineStart.name"
               class="ext.editor.actions.LineStartAction"
               menubarPath="edit/extension/group"
               id="ext.editor.actions.lineStart">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Editor Extention"
            description="%pluginName"
            id="ext.editor.category">
      </category>
      <command
            name="%Command.wordComplete.name"
            description="%Command.wordComplete.description"
            categoryId="ext.editor.category"
            id="ext.editor.wordComplete">
      </command>
      <command
            categoryId="ext.editor.category"
            description="%Command.findCurrent.description"
            id="ext.editor.findCurrent"
            name="%Command.findCurrent.name">
      </command>
      <command
            name="%Command.encodeTab.name"
            description="%Command.encodeTab.description"
            categoryId="ext.editor.category"
            id="ext.editor.encodeTab">
      </command>
      <command
            name="%Command.decodeTab.name"
            description="%Command.decodeTab.description"
            categoryId="ext.editor.category"
            id="ext.editor.decodeTab">
      </command>
      <command
            name="%Command.switchTab.name"
            description="%Command.switchTab.description"
            categoryId="ext.editor.category"
            id="ext.editor.switchTab">
      </command>
      <command
            name="%Command.deleteLine.name"
            description="%Command.deleteLine.description"
            categoryId="ext.editor.category"
            id="ext.editor.deleteLine">
      </command>
      <command
            name="%Command.deleteEndOfLine.name"
            description="%Command.deleteEndOfLine.description"
            categoryId="ext.editor.category"
            id="ext.editor.deleteEndOfLine">
      </command>
      <command
            name="%Command.yankLine.name"
            description="%Command.yankLine.description"
            categoryId="ext.editor.category"
            id="ext.editor.yankLine">
      </command>
      <command
            name="%Command.nextWord.name"
            description="%Command.nextWord.description"
            categoryId="ext.editor.category"
            id="ext.editor.nextWord">
      </command>
      <command
            name="%Command.previousWord.name"
            description="%Command.previousWord.description"
            categoryId="ext.editor.category"
            id="ext.editor.previousWord">
      </command>
      <command
            name="%Command.deleteWord.name"
            description="%Command.deleteWord.description"
            categoryId="ext.editor.category"
            id="ext.editor.deleteWord">
      </command>
      <command
            name="%Command.copy.name"
            description="%Command.copy.description"
            categoryId="ext.editor.category"
            id="ext.editor.copy">
      </command>
      <command
            name="%Command.pasteLine.name"
            description="%Command.pasteLine.description"
            categoryId="ext.editor.category"
            id="ext.editor.pasteLine">
      </command>
      <command
            name="%Command.unselectedUndo.name"
            description="%Command.unselectedUndo.description"
            categoryId="ext.editor.category"
            id="ext.editor.unselectedUndo">
      </command>
      <command
            name="%Command.lineEnd.name"
            description="%Command.lineEnd.description"
            categoryId="ext.editor.category"
            id="ext.editor.lineEnd">
      </command>
      <command
            name="%Command.lineStart.name"
            description="%Command.lineStart.description"
            categoryId="ext.editor.category"
            id="ext.editor.lineStart">
      </command>
   </extension>

</plugin>
